@charset "UFT=8";
/* widthやheightの値は要カスタマイズ */
.model-viewer {
    width: 400px;
    height: 480px;
    background-color: #fff;
    position: fixed;
    top: 3px;
    left: 3px;
}

​
.model-viewer-btn {
    position: absolute;
    right: 16px;
    bottom: 10px;
    height: 26px;
    font-weight: bold;
    line-height: 26px;
    color: white;
    background-color: #6b6868;
    border: none;
}